.user__avatar {
  img {
    border-radius: 50%;
  }

  &--small img {
    width: 32px;
    height: 32px;
  }

  &--medium img {
    width: 48px;
    height: 48px;
  }

  &--large img {
    width: 64px;
    height: 64px;
  }
}