@import '../../styles/variables.scss';

.app__header {
  display: flex;
  align-items: center;
  background-color: $white-color;
  padding: 0 16px;
  height: 72px;

  .app__header__right__content {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
  }

  .logout__button {
    margin-left: 24px;
  }

  .app__header__title {
    font-size: 18px;
    font-style: italic;
    margin-left: 8px;
  }
}